<a href="https://colab.research.google.com/github/chau25102001/myrep/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/chau25102001/myrep/main/new_bank.csv")
data.head()
data.columns
data = data.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])
data

       age         job   marital  education  ... pdays  previous poutcome    y
0       26    services    single   tertiary  ...   186         6  success   no
1       36      admin.  divorced   tertiary  ...    -1         0  unknown   no
2       36  technician   married  secondary  ...   292         5  failure  yes
3       37  technician    single   tertiary  ...    -1         0  unknown   no
4       36  management  divorced   tertiary  ...    -1         0  unknown   no
...    ...         ...       ...        ...  ...   ...       ...      ...  ...
10573   51      admin.    single  secondary  ...    -1         0  unknown  yes
10574   36      admin.    single  secondary  ...    -1         0  unknown   no
10575   46  unemployed   married  secondary  ...    -1         0  unknown   no
10576   27      admin.    single   tertiary  ...    -1         0  unknown  yes
10577   38  management   married    unknown  ...    -1         0  unknown   no

[10578 rows x 17 columns]

In [ ]:
data['education'].unique()

array(['tertiary', 'secondary', 'unknown', 'primary'], dtype=object)

In [ ]:
def tran_education(x):
  if x == 'unknown':
    return -1
  if x == "primary":
    return 1
  if x == "secondary":
    return 2
  if x== 'tertiary':
    return 3
  else:
    return x
def tran_binary(x):
  if x == 'yes':
    return 1
  if x =='no':
    return 0
  else:
    return x

In [ ]:
pd.get_dummies(data)

       age  education  default  ...  poutcome_unknown  y_no  y_yes
0       26          3        0  ...                 0     1      0
1       36          3        0  ...                 1     1      0
2       36          2        0  ...                 0     0      1
3       37          3        0  ...                 1     1      0
4       36          3        0  ...                 1     1      0
...    ...        ...      ...  ...               ...   ...    ...
10573   51          2        0  ...                 1     0      1
10574   36          2        0  ...                 1     1      0
10575   46          2        0  ...                 1     1      0
10576   27          3        0  ...                 1     0      1
10577   38         -1        0  ...                 1     1      0

[10578 rows x 47 columns]

In [ ]:
data = pd.get_dummies(data)
data

       age  education  default  ...  poutcome_unknown  y_no  y_yes
0       26          3        0  ...                 0     1      0
1       36          3        0  ...                 1     1      0
2       36          2        0  ...                 0     0      1
3       37          3        0  ...                 1     1      0
4       36          3        0  ...                 1     1      0
...    ...        ...      ...  ...               ...   ...    ...
10573   51          2        0  ...                 1     0      1
10574   36          2        0  ...                 1     1      0
10575   46          2        0  ...                 1     1      0
10576   27          3        0  ...                 1     0      1
10577   38         -1        0  ...                 1     1      0

[10578 rows x 46 columns]

In [ ]:
list1 = data['pdays'].values
count = 0
for i in list1:
  if i == -1:
    count += 1
count

7816

In [ ]:
data['marital'].unique()

array(['single', 'divorced', 'married'], dtype=object)

In [ ]:
data['education'] = data['education'].apply(tran_education)
data['default'] = data['default'].apply(tran_binary)
data['housing'] = data['housing'].apply(tran_binary)
data['loan'] = data['loan'].apply(tran_binary)